<h1>Create a New Book</h1>


<form method="post" action="/books" >
  <label>Title</label>
  <input type="text" name="title"/>
  <label>Snippet</label>
  <input type="text" name="snippet" />
  <input type="submit" />
</form>
